@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
  * {
    box-sizing: border-box;
  }
}

.ar {
  direction: rtl;
}

body.ar {
  font-family: "Cairo", sans-serif;
}

.change {
  padding: 5px;
  background-color: red;
  width: fit-content;
  cursor: pointer;
}
