@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif /*!important*/;
  }

  body {
    font-family: "Cairo", sans-serif;
    direction: rtl;
  }

  :root {
    --color-main: 111 114 185;
  }

  * {
    box-sizing: border-box;
  }
}

.ar {
  direction: rtl;
}

body.ar {
  font-family: "Cairo", sans-serif;
  direction: rtl;
}

.change {
  padding: 5px;
  background-color: red;
  width: fit-content;
  cursor: pointer;
}

.studentInfo-title {
  @apply bg-studentInfo;
}

.unCalculatedGrades-title {
  @apply bg-unCalculatedGrades;
}

.calculatedGrades-title {
  @apply bg-calculatedGrades;
}

.calculatedGrades > div,
.unCalculatedGrades > div {
  @apply flex-1	text-center;
}

.studentInfo > div:last-of-type {
  @apply flex-1	 text-center;
}

.studentInfo > div:first-of-type {
  @apply basis-20;
}

.MuiTableHead-root {
  background-color: red;
}

.MuiTableHead-root .MuiTableCell-root {
  color: white !important;
}

.active {
  @apply bg-[#ffaaaa8c] rounded-md font-bold	text-[#ffffffa6];
}
